#header {
    position: fixed;
    left: 0;
    top: 0;
    width: 260px;
    height: 100%;
    z-index: 1000;
    background-color: #000;
    overflow-y: auto;
}
#main {
    width: 2000px;
    min-height: 100vh;
    margin: 0 auto;
    padding-left: 260px;
    background-color: coral;
}
#footer {
    background-color: green;
    padding: 20px 20px 20px 260px;
}