// 한줄 효과
@mixin one-line {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

// 두줄이상 효과
@mixin line($num) {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: $num;
    -webkit-box-orient: vertical;
}
